version: '3.8'

services:
  # --- INFRASTRUCTURE ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # --- YOUR APPS ---
  
  ingestion:
    build: ./services/go-ingestion
    depends_on:
      - kafka
    # Mount the data folder so the container can see the CSV
    volumes:
      - ./data:/app/data
    environment:
      - KAFKA_URL=kafka:29092
    ports:
      - "8080:8080"

  ai-worker:
    build: ./services/ai-worker
    depends_on:
      - kafka
      - redis
    # Mount the model folder so the container can see your trained Brain
    volumes:
      - ./services/ai-worker/model:/app/model
    environment:
      - KAFKA_BROKER=kafka:29092
      - REDIS_HOST=redis

  dashboard-api:
    build: ./services/dashboard-api
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      # Tell Next.js to build in production mode
      - NODE_ENV=production