name: Sentinel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  python-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        # Install standard libs from default PyPI
        pip install pandas numpy transformers scikit-learn
        # Install PyTorch CPU version separately
        pip install torch --index-url https://download.pytorch.org/whl/cpu
        
    - name: Syntax Check
      run: |
        python -m compileall training/